.friendslist_InvitesListWrapper_2AblE .friendinvites_InvitesList_3i8Fo {
  background-color: var(--srcery-black);
}

.friendslist_InvitesListWrapper_2AblE .friendinvites_FriendCodeSection_39nte .friendinvites_FriendCode_27408 {
  background-color: var(--srcery-hard-black);
}

.friendslist_InvitesListWrapper_2AblE .friendinvites_FriendCodeSection_39nte .friendinvites_FriendCode_27408 .friendinvites_Code_1-bTQ {
  color: var(--srcery-green);
}

.friendslist_InvitesListWrapper_2AblE .friendinvites_InvitesRow_35_aF.gpfocuswithin {
  background-color: var(--srcery-xgray6);
}

.friendslist_InvitesListWrapper_2AblE .friendinvites_AddFriendSection_3BjIx .friendinvites_Title_1ZEdD,
.friendslist_InvitesListWrapper_2AblE .friendinvites_AddFriendSection_3BjIx .friendinvites_Description_KI_gF {
  color: var(--srcery-bright-white);
}

.friendslist_InvitesListWrapper_2AblE .friendinvites_Caption__XK9j,
.friendslist_InvitesListWrapper_2AblE .friendinvites_InvitesSectionHeader_3B_sJ {
  color: var(--srcery-white);
}
