/* Menu Elements */

/* Menu Element */
.gamepadpagedsettings_ContentTransition_NCmol .gamepaddialog_Field_S-_La,
.gamepadpagedsettings_ContentTransition_NCmol .gamepaddialog_FieldLabel_3b0U-,
.gamepadpagedsettings_ContentTransition_NCmol .gamepaddialog_FieldDescription_2OJfk,
.gamepadpagedsettings_ContentTransition_NCmol .appproperties_Title_3zuIC,
.controllerconfigurator_BottomSection_3RsRf .gamepaddialog_Field_S-_La,
.controllerconfigurator_BottomSection_3RsRf .gamepaddialog_FieldLabel_3b0U-,
.controllerconfigurator_BottomSection_3RsRf .gamepaddialog_FieldDescription_2OJfk,
.controllerconfigurator_BottomSection_3RsRf .appproperties_Title_3zuIC
{
  color: var(--srcery-white);
}

.gamepadpagedsettings_ContentTransition_NCmol .gamepaddialog_Field_S-_La .networksettings_Checkmark_x5D0R {
  color: var(--srcery-green);
}

.gamepadpagedsettings_ContentTransition_NCmol .gamepaddialog_Field_S-_La .networksettings_LockIcon_1oafX.networksettings_LargerIcon_14aKC {
  color: var(--srcery-xgray6);
}

/* Selected Menu Element */
.gamepadpagedsettings_ContentTransition_NCmol .gamepaddialog_Field_S-_La.gamepaddialog_HighlightOnFocus_wE4V6.gpfocus, 
.gamepadpagedsettings_ContentTransition_NCmol .gamepaddialog_Field_S-_La.gamepaddialog_HighlightOnFocus_wE4V6.gpfocuswithin,
.controllerconfigurator_BottomSection_3RsRf .gamepaddialog_Field_S-_La.gamepaddialog_HighlightOnFocus_wE4V6.gpfocus, 
.controllerconfigurator_BottomSection_3RsRf .gamepaddialog_Field_S-_La.gamepaddialog_HighlightOnFocus_wE4V6.gpfocuswithin 
{
  background: var(--srcery-white);
  color: var(--srcery-black);
  animation-name: settingsTabFocusAnimation;
}

/* Selected menu Element Text */
.gamepadpagedsettings_ContentTransition_NCmol .gamepaddialog_Field_S-_La.gamepaddialog_HighlightOnFocus_wE4V6.gpfocuswithin .gamepaddialog_FieldLabel_3b0U-,
.controllerconfigurator_BottomSection_3RsRf .gamepaddialog_Field_S-_La.gamepaddialog_HighlightOnFocus_wE4V6.gpfocuswithin .gamepaddialog_FieldLabel_3b0U- {
  color: var(--srcery-black);
}

.gamepadpagedsettings_ContentTransition_NCmol .gamepaddialog_Field_S-_La.gamepaddialog_HighlightOnFocus_wE4V6.gpfocuswithin .gamepaddialog_FieldDescription_2OJfk,
.controllerconfigurator_BottomSection_3RsRf .gamepaddialog_Field_S-_La.gamepaddialog_HighlightOnFocus_wE4V6.gpfocuswithin .gamepaddialog_FieldDescription_2OJfk {
  color: var(--srcery-black);
}

/* Button */
.gamepadpagedsettings_ContentTransition_NCmol .gamepaddialog_Field_S-_La .gamepaddialog_FieldChildren_14_HB .DialogButton:enabled,
.gamepadpagedsettings_ContentTransition_NCmol .gamepaddialog_Field_S-_La .gamepaddialog_FieldChildren_14_HB .DialogButton.Primary:enabled,
.gamepadpagedsettings_ContentTransition_NCmol .DialogCheckbox_Container,
.controllerconfigurator_BottomSection_3RsRf .gamepaddialog_Field_S-_La .gamepaddialog_FieldChildren_14_HB .DialogButton:enabled,
.controllerconfigurator_BottomSection_3RsRf .gamepaddialog_Field_S-_La .gamepaddialog_FieldChildren_14_HB .DialogButton.Primary:enabled,
.controllerconfigurator_BottomSection_3RsRf .DialogCheckbox_Container
{
  background: var(--srcery-xgray3);
  color: var(--srcery-white);
}

/* Highlighted Button */
.gamepadpagedsettings_ContentTransition_NCmol .gamepaddialog_Field_S-_La .gamepaddialog_FieldChildren_14_HB .DialogButton.gpfocus:enabled,
.gamepadpagedsettings_ContentTransition_NCmol .gamepaddialog_Field_S-_La .gamepaddialog_FieldChildren_14_HB .DialogButton.gpfocus.Primary:enabled,
.controllerconfigurator_BottomSection_3RsRf .gamepaddialog_Field_S-_La .gamepaddialog_FieldChildren_14_HB .DialogButton.gpfocus:enabled,
.controllerconfigurator_BottomSection_3RsRf .gamepaddialog_Field_S-_La .gamepaddialog_FieldChildren_14_HB .DialogButton.gpfocus.Primary:enabled
{
  background: var(--srcery-xgray6);
  color: var(--srcery-bright-white);
}

button.gamepaddialog_Button_1kn70.DialogButton,
button.gamepaddialog_Button_1kn70.DialogButton.Primary,
button.gamepaddialog_Button_1kn70.DialogButton:enabled,
button.gamepaddialog_Button_1kn70.DialogButton:enabled.Primary,
button.gamepaddialog_Button_1kn70.DialogButton:active,
button.gamepaddialog_Button_1kn70.DialogButton:active.Primary,
button.gamepaddialog_Button_1kn70.DialogButton:hover,
button.gamepaddialog_Button_1kn70.DialogButton:hover.Primary {
  background: var(--srcery-xgray3);
  color: var(--srcery-white);
}

button.gamepaddialog_Button_1kn70.DialogButton.gpfocus,
button.gamepaddialog_Button_1kn70.DialogButton:active,
button.gamepaddialog_Button_1kn70.DialogButton:enabled.gpfocus,
button.gamepaddialog_Button_1kn70.DialogButton:enabled:active,
button.gamepaddialog_Button_1kn70.DialogButton:active.gpfocus,
button.gamepaddialog_Button_1kn70.DialogButton:active:active,
button.gamepaddialog_Button_1kn70.DialogButton:hover.gpfocus,
button.gamepaddialog_Button_1kn70.DialogButton:hover:active,
button.gamepaddialog_Button_1kn70.DialogButton:enabled:active:hover,
button.gamepaddialog_Button_1kn70.DialogButton:enabled:active:hover.gpfocus,
button.gamepaddialog_Button_1kn70.DialogButton:enabled:active:hover:active,
button.gamepaddialog_Button_1kn70.DialogButton:enabled:active:hover.Primary {
  background: var(--srcery-bright-white);
  color: var(--srcery-black);
}

.gamepaddialog_BasicTextInput_3GCBi, .gamepaddialog_BasicTextInput_3GCBi:not(.disabled, .gpfocus):hover {
  background: var(--srcery-xgray3);
  color: var(--srcery-white);
}

.gamepaddialog_BasicTextInput_3GCBi.gpfocus, .gamepaddialog_BasicTextInput_3GCBi.gpfocus:hover {
  background: var(--srcery-bright-white);
  color: var(--srcery-black);
}

/* TODO where to put this? */
.CSSLoader_FullTheme_ToggleContainer > div {
  background: transparent;
  color: var(--srcery-white);
}
