.BasicUI .appdetailsachievementssection_AchievementProgressContainer_3ns91 .appdetailsachievementssection_AchievementProgress_3Rm36 {
  background: var(--srcery-blue);
}

.appdetailssection_Highlight_38t1m.appdetailsachievementssection_HighlightDiv_2xTb6,
.appdetailssection_Highlight_38t1m.appdetailstradingcardssection_BadgeSection_3g3jm {
  background-color: var(--srcery-xgray4);
}

.appdetailsachievementssection_AchievementCarouselItem_mbFSn.appdetailsachievementssection_Detailed_3KGi6.Panel.Focusable {
  background: var(--srcery-xgray5);
}

.gamepadui_BasicHome_3LYP1.gamepadui_OpaqueBackground_b084m,
.appdetailsoverview_Container_27RcN {
  background: var(--srcery-black) !important;
}

.comment_thread_ActivityCommentThread_39nna,
.BasicUI .appactivityday_Event_UVeN0 .appactivityday_EventHeadline_QCKBq:focus {
  background: var(--srcery-white);
}

.gamepadhome_TabbedContent_cE1Sa {
  background: var(--srcery-xgray4);
}

.BasicUI .appdetailsachievementssection_AchievementProgressContainer_3ns91 {
  background: var(--srcery-xgray2);
}

.gamepadhomewhatsnew_EventPreviewContainer_1ltOY,
.gamepadhomewhatsnew_GameIconAndName_1jXSh .gamepadhomewhatsnew_GameName_3H9W-, 
.localdateandtime_ShortDateAndTime_4K3Bl,
.localdateandtime_RightSideTitles_3sPON,
.marquee_Content_2ADpT,
.gamepadhomerecentgames_RecentGamesHeader_35iRe,
.gamepadhomefriends_InGameGame_KLo2n .gamepadhomefriends_InLibrary_ho5Qo,
.appactivityday_Event_UVeN0 .appactivityday_EventHeadline_QCKBq .appactivityday_HeadlineGameName_Gy1Y7 {
  color: var(--srcery-bright-white);
}

.gamepadhomewhatsnew_EventType_1f0dZ,
.marketingmessages_Header_1QCdV,
.homestorecarousel_Header_xpRXv,
.recentlycompleted_Header_NhBU2,
.gamepadhomefriends_FriendsHeader_1Ejje,
.appdetailssectionheader_LabelText_3i0ko,
.gamepadhomerecommended_PlayNextCarouselTitle_2r7cQ,
.gamepadhomerecommended_PlayNextCarouselSubHeading_2VByW,
.recentlycompleted_PatchNotes_2_b6L,
.personanameandstatus_playerName_r62qz,
.personanameandstatus_gameName_2wpap,
.gamepadhomefriends_Title_EZ-F-,
.appactivityday_AppActivityDate_19LfM,
.appdetailsachievementssection_Name_39Y0,
.appdetailsachievementssection_Desc_2gLHb,
.comment_thread_CommentText_3Xbao,
.appdetailsachievementssection_Name_39Y01,
.appactivityday_StoreGameCapsule_1OYOt,
.appdetailsplaysection_PlayBarDetailLabel_2TYVG {
  color: var(--srcery-bright-white) !important;
}

.personanameandstatus_gameName_2wpap {
  font-size: 10px;
}

.gamepadlibrary_GamepadLibrary_ZBBhe,
.gamepadsearch_GamepadSearch_P_AlE,
.mediapage_MediaPage_gG1JN,
.BasicUI .basicappdetailssectionstyler_AppActionButton_QsZdW /* Play button BG */ {
  background: none;
}

.gamepadsearch_ResultTemplateDescriptionRow_19p6s > * {
  color: var(--srcery-bright-white) !important;
}

/* Game Play View */

/* Game launch menu buttons labels */
.BasicUI .appdetailsplaysection_MenuButton_3qDWQ > svg,
.BasicUI .appactionbutton_PlayButtonContainer_1FnJ6 .appactionbutton_ButtonChild_2AzIX .appactionbutton_ButtonText_33cnX,
.BasicUI .appactionbutton_PlayButtonContainer_1FnJ6 .appactionbutton_ButtonChild_2AzIX svg {
  color: var(--srcery-white);
}

.appdetailsplaysection_CloudStatusRow_QvHky > *, /* Steam Cloud Status */
.appdetailsplaysection_CloudStatusRow_QvHky:not(.gpfocus) .appdetailsplaysection_CloudStatusIcon_1Prjv > svg { /* Steam Cloud Status Icon */
  color: var(--srcery-bright-white) !important;
}

/* Game launch menu buttons */
.BasicUI .appactionbutton_PlayButtonContainer_1FnJ6 .appactionbutton_ButtonChild_2AzIX,
.BasicUI .appdetailsplaysection_MenuButton_3qDWQ {
  background: var(--srcery-xgray3);
}

/* Highlighted game launch menu buttons */
.BasicUI .appactionbutton_PlayButtonContainer_1FnJ6 .appactionbutton_ButtonChild_2AzIX.gpfocus,
.BasicUI .appdetailsplaysection_MenuButton_3qDWQ.gpfocus {
  background: var(--srcery-bright-white) !important;
}

.BasicUI .appactionbutton_ButtonChild_2AzIX.Focusable:focus {
  background: var(--srcery-blue) !important;
}

.BasicUI .appactionbutton_Green_3cI5T .appactionbutton_ButtonChild_2AzIX.Focusable:focus {
  background: var(--srcery-green) !important;
  color: var(--srcery-black);
}

/* Highlighted game launch menu buttons labels */
.BasicUI .appdetailsplaysection_MenuButton_3qDWQ.gpfocus:focus > svg,
.BasicUI .appactionbutton_PlayButtonContainer_1FnJ6 .appactionbutton_ButtonChild_2AzIX.gpfocus:focus .appactionbutton_ButtonText_33cnX,
.BasicUI .appactionbutton_PlayButtonContainer_1FnJ6 .appactionbutton_ButtonChild_2AzIX.gpfocus:focus svg {
  color: var(--srcery-black);
}

.appdetailsplaysection_CloudStatusRow_QvHky::before, /* Steam Cloud Status before */
.appdetailsplaysection_CloudStatusRow_QvHky::after { /* Steam Cloud Status After */
  background: var(--srcery-bright-white);
}

.appdetailsplaysection_DetailsProgressContainer_25YVD {
  background: var(--srcery-xgray2);
}

.BasicUI .appdetailsplaysection_DetailsProgressContainer_25YVD .appdetailsplaysection_DetailsProgressBar_1FnTq {
  background: var(--srcery-blue);
}

/* Home */

.salepreviewwidgets_Discounted_35-Ub {
  background: var(--srcery-bright-white);
}
