.fastscrolloverlay_FastScrollOverlay_1gRvM.fastscrolloverlay_Visible_pdiNo.gpfocus.gpfocuswithin {
  color: var(--srcery-bright-white);
  backdrop-filter: sepia(100%) blur(4px);
}

.appportrait_Medium_3SNGK .libraryassetimage_Title_13fGP {
  color: var(--srcery-bright-white);
  -webkit-text-fill-color: unset;
  background: transparent;
  text-shadow: 1px 1px 1px var(--srcery-xgray1);
}

.appportrait_Medium_3SNGK img[src="/images/defaultappimage.png"] {
  filter: sepia(1);
}

.shared_svg_library_SteamDeckCompatInfo_2LcFI {
  background: var(--srcery-black)
}

.shared_svg_library_SteamDeckCompatLogo_Tplfb {
  filter: var(--srcery-bright-white-filter);
}

