.mainmenu_Menu_23IDi:not(.mainmenu_VR_1ABsh) {
  background: var(--srcery-black);
}

.mainmenu_Menu_23IDi:not(.mainmenu_VR_1ABsh) .mainmenu_ItemLabel_3x-ZK,
.mainmenu_Menu_23IDi:not(.mainmenu_VR_1ABsh) .mainmenu_ItemIcon_3xZ3Z {
  color: var(--srcery-white);
}

.mainmenu_Menu_23IDi:not(.mainmenu_VR_1ABsh) .mainmenu_Item_2w9Tp.mainmenu_Active_10bq5 .mainmenu_ItemIcon_3xZ3Z,
.mainmenu_Menu_23IDi:not(.mainmenu_VR_1ABsh) .mainmenu_Item_2w9Tp.mainmenu_Active_10bq5 .mainmenu_ItemLabel_3x-ZK {
  color: var(--srcery-bright-white);
}

.mainmenu_Menu_23IDi:not(.mainmenu_VR_1ABsh) .mainmenu_Item_2w9Tp.gpfocus .mainmenu_ItemIcon_3xZ3Z {
  color: var(--srcery-black);
}

.mainmenu_Menu_23IDi .mainmenu_RunnningAppSeparator_33RkH {
  background: none;
  background-color: var(--srcery-blue);
  height: 3px;
  border-radius: 3px;
  margin: 5px auto;
}

.mainmenu_Menu_23IDi.mainmenu_Collapsed_3I23q:not(.mainmenu_VR_1ABsh) > .mainmenu_RunnningAppSeparator_33RkH {
  transform: translateX(0);
}

.mainmenu_Menu_23IDi:not(.mainmenu_VR_1ABsh) .mainmenu_Item_2w9Tp {
  position: relative;
  transform: none;
}

.mainmenu_Menu_23IDi:not(.mainmenu_VR_1ABsh) .mainmenu_Item_2w9Tp.gpfocus .mainmenu_ItemLabel_3x-ZK {
  color: var(--srcery-black);
}

.mainmenu_Menu_23IDi:not(.mainmenu_VR_1ABsh) .mainmenu_Item_2w9Tp.gpfocus {
  background: var(--srcery-bright-white);
  transform: none !important;
  animation-name: none !important;
  position: relative
}

.mainmenu_Menu_23IDi:not(.mainmenu_VR_1ABsh) .mainmenu_Item_2w9Tp.mainmenu_Active_10bq5 {
  transform: none !important;
}

/* Active dot */
.mainmenu_Menu_23IDi:not(.mainmenu_VR_1ABsh) .mainmenu_ActiveDot_1uLVH {
  background: transparent;
  height: 100%;
  display: flex;
  align-items: center;
}

.mainmenu_Menu_23IDi:not(.mainmenu_VR_1ABsh) .mainmenu_Item_2w9Tp .mainmenu_ActiveDot_1uLVH {
  margin-left: 10px;
}

.mainmenu_Menu_23IDi:not(.mainmenu_VR_1ABsh) .mainmenu_ActiveDot_1uLVH::before {
  content: "›";
  color: var(--srcery-blue);
  font-size: 1.5rem;
  margin-bottom: 3px
}
