@keyframes quickaccessmenu_ItemFocusAnim-darkerGrey-nocolor_2YeD3 {
  from {
    background: var(--srcery-bright-black);
  }

  to {
    background: var(--srcery-xgray3);
  }
}

.quickaccessmenu_QuickAccessMenu_V0cr-,
.quickaccessmenu_Title_34nl5,
.quickaccessmenu_Tab_1S76C {
  background: var(--srcery-black);
}

#QuickAccess-Menu .header_Header_1E_SL.header_InQuickAccess_2mRo5 {
  background-color: var(--srcery-black);
}

#QuickAccess-Menu .quickaccessmenu_Menu_1gJzx::before {
  background: var(--srcery-xgray3);
}

.quickaccessmenu_Tabs_3Ag1w::after,
.gamepaddialog_Field_S-_La.gamepaddialog_WithBottomSeparatorStandard_3s1Rk::after,
.gamepaddialog_Field_S-_La.gamepaddialog_WithBottomSeparatorThick_28hmy::after {
  background: var(--srcery-xgray3);
}

.quickaccessmenu_Title_34nl5 {
  box-shadow: none;
}

.quickaccessmenu_Menu_1gJzx .quickaccessmenu_Title_34nl5, 
#QuickAccess-Menu .quickaccessmenu_Menu_1gJzx .FriendsListSteamDeckTopSection .TabPanelHeader {
  color: var(--srcery-bright-white);
}

.quickaccesscontrols_Text_1hJkB, 
.gamepaddialog_FieldLabel_3b0U-, 
.perf_Text_3gY4m,
.quickaccesscontrols_BatteryPercentageLabel_3Rxxi,
.quickaccessmenu_Tab_1S76C svg {
  color: var(--srcery-white);
}

.quickaccessmenu_Tab_1S76C svg {
  color: var(--srcery-bright-black);
}

.quickaccessmenu_QuickAccessMenu_V0cr- .standardtemplates_NewIndicator_3aotN svg {
  color: var(--srcery-green);
}

.quickaccessmenu_Tab_1S76C.quickaccessmenu_Selected_2QHMu.gpfocus svg {
  color: var(--srcery-bright-white);
}

.quickaccessmenu_Menu_1gJzx .quickaccesscontrols_BatteryProjectedValue_1mTo6 {
  color: var(--srcery-bright-white);
}

.quickaccessmenu_Menu_1gJzx button.gamepaddialog_Button_1kn70.DialogButton {
  background: var(--srcery-xgray3);
  color: var(--srcery-white);
}

.quickaccessmenu_Menu_1gJzx button.gpfocuswithin.gamepaddialog_Button_1kn70.DialogButton {
  background: var(--srcery-bright-white);
  color: var(--srcery-black);
}

/* Highlights */

/* Bg highlight */
.gamepaddialog_Field_S-_La.gamepaddialog_HighlightOnFocus_wE4V6.gpfocus, 
.gamepaddialog_Field_S-_La.gamepaddialog_HighlightOnFocus_wE4V6.gpfocuswithin {
  background: var(--srcery-white) !important;
}

/* Label, Description highlight, PerfProfSetting text, BatteryText */
.gamepaddialog_Field_S-_La.gpfocuswithin .gamepaddialog_FieldLabel_3b0U-, 
.gamepaddialog_Field_S-_La.gpfocuswithin .gamepaddialog_FieldDescription_2OJfk,
.gamepaddialog_Field_S-_La.gpfocuswithin .perf_Text_3gY4m,
.gamepaddialog_Field_S-_La.gpfocuswithin .quickaccesscontrols_BatteryProjectedValue_1mTo6,
.gamepaddialog_Field_S-_La.gpfocuswithin .quickaccesscontrols_BatteryProjectedLabel_4hS40,
.gamepaddialog_Field_S-_La.gpfocuswithin .quickaccesscontrols_BatteryPercentageLabel_3Rxxi,
.gamepaddialog_Field_S-_La.gpfocuswithin .gamepadslider_Icon_21uKi {
  color: var(--srcery-black) !important;
}

/* Side highlight */
.quickaccessmenu_Tab_1S76C.quickaccessmenu_Selected_2QHMu {
  background: var(--srcery-white);
}

/* Focused Side highlight */
.quickaccessmenu_Tab_1S76C.quickaccessmenu_Selected_2QHMu.gpfocus {
  background: var(--srcery-bright-white);
}

/* Side icon highlight */
.gpfocus.quickaccessmenu_Tab_1S76C.quickaccessmenu_Selected_2QHMu::before {
  filter: brightness(0);
}

/* Remote Play */
.quickaccessmenu_QuickAccessMenu_V0cr- .remoteplay_QuickAccessTitle_2dcwM {
  color: var(--srcery-bright-white);
  background-color: transparent;
  box-shadow: none;
}

.quickaccessmenu_QuickAccessMenu_V0cr- .remoteplay_QuickAccessControlIcon_Ll-uN {
  filter: var(--srcery-bright-white-filter);
}

/** Friends list */
.friendlist {
  background: var(--srcery-black) !important;
}

.GamepadMode.friendlist .TabPanelHeader .NewChatGroupButton,
.GamepadMode.friendlist .TabPanelHeader .AddFriendButton,
.GamepadMode.friendlist .TabPanelHeader .FriendsInvitesButton {
  background-color: var(--srcery-xgray3);
  color: var(--srcery-bright-black);
}

.GamepadMode.friendlist .TabPanelHeader .FriendsInvitesButton .PendingInviteCount {
  background-color: var(--srcery-red);
}

.friendslist_TabBumper_3Jr0A svg path {
  fill: var(--srcery-white) !important;
}

.friendslist_TabBumper_3Jr0A svg path:first-of-type {
  stroke: var(--srcery-white) !important;
  fill: none !important;
}

.FriendsListTab {
  color: var(--srcery-bright-black) !important;
}

.FriendsListTab.Active {
  color: var(--srcery-bright-white) !important;
}

/** Performance */
.gamepaddialog_Field_S-_La .quickaccesscontrols_BatterySectionContainer_3h5MR .quickaccesscontrols_BatteryIcon_39aNh svg path:first-child {
  fill: var(--srcery-white);
}

.gamepaddialog_Field_S-_La .quickaccesscontrols_BatterySectionContainer_3h5MR .quickaccesscontrols_BatteryIcon_39aNh svg svg rect {
  fill: var(--srcery-green);
}

.gamepaddialog_Field_S-_La .quickaccesscontrols_BatterySectionContainer_3h5MR .quickaccesscontrols_BatteryIcon_39aNh svg path:last-child,
.gamepaddialog_Field_S-_La.gpfocus.gpfocuswithin .quickaccesscontrols_BatterySectionContainer_3h5MR .quickaccesscontrols_BatteryIcon_39aNh svg path:first-child {
  fill: var(--srcery-black);
}

/* Notifications */

.quickaccesscontrols_QuickAccessNotifications_2HCcx>div:not(:hover)+div:not(:hover)::before,
.quickaccesscontrols_QuickAccessNotifications_2HCcx:not(.quickaccesscontrols_VR_31jiF)>div:not(:focus)+div:not(:focus)::before,
.quickaccesscontrols_QuickAccessNotifications_2HCcx>div:not(:hover)+div.quickaccesscontrols_EmptyNotifications_1g1_n::before {
  border-bottom-color: var(--srcery-xgray3);
}

.quickaccessmenu_QuickAccessMenu_V0cr- .standardtemplates_StandardTemplateContainer_1adpx:hover,
.quickaccessmenu_QuickAccessMenu_V0cr- .standardtemplates_StandardTemplateContainer_1adpx.gpfocus {
  background-color: var(--srcery-xgray3);
}

.quickaccessmenu_QuickAccessMenu_V0cr- .standardtemplates_PinnedTemplate_2eBei .standardtemplates_PinnedBody_1Ljgv,
.quickaccessmenu_QuickAccessMenu_V0cr- .standardtemplates_StandardTemplate_3e_DB .standardtemplates_Icon_19g_L > svg,
.quickaccessmenu_QuickAccessMenu_V0cr- .standardtemplates_PinnedTemplate_2eBei .standardtemplates_Icon_19g_L > svg,
.quickaccessmenu_QuickAccessMenu_V0cr- .standardtemplates_StandardTemplate_3e_DB .standardtemplates_Title_1WlRE,
.quickaccessmenu_QuickAccessMenu_V0cr- .standardtemplates_PinnedTemplate_2eBei .standardtemplates_Title_1WlRE,
.quickaccessmenu_QuickAccessMenu_V0cr- .notificationcontent_AchievementTextSection_mJ3Nu .notificationcontent_Name_1juF1 {
  color: var(--srcery-bright-white);
  filter: var(--srcery-bright-white-filter);
}

.quickaccessmenu_QuickAccessMenu_V0cr- .notificationcontent_Timestamp_3q7nN,
.quickaccessmenu_QuickAccessMenu_V0cr- .notificationcontent_TimestampDesktop_1N5mc,
.quickaccessmenu_QuickAccessMenu_V0cr- .standardtemplates_StandardTemplate_3e_DB .standardtemplates_Timestamp_2vSvC,
.quickaccessmenu_QuickAccessMenu_V0cr- .standardtemplates_PinnedTemplate_2eBei .standardtemplates_Timestamp_2vSvC {
  color: var(--srcery-xgray6);
}

.quickaccessmenu_QuickAccessMenu_V0cr- .BasicUI .notificationcontent_AchievementTextSection_mJ3Nu .notificationcontent_Desc_2zm3G,
.quickaccessmenu_QuickAccessMenu_V0cr- .standardtemplates_StandardTemplate_3e_DB .notificationcontent_AchievementTextSection_mJ3Nu .notificationcontent_Desc_2zm3G,
.quickaccessmenu_QuickAccessMenu_V0cr- .standardtemplates_StandardTemplate_3e_DB .standardtemplates_StandardNotificationDescription_1Ldq1,
.quickaccessmenu_QuickAccessMenu_V0cr- .standardtemplates_PinnedTemplate_2eBei .standardtemplates_StandardNotificationDescription_1Ldq1 {
  color: var(--srcery-white);
}

.quickaccessmenu_QuickAccessMenu_V0cr- .standardtemplates_StandardTemplate_3e_DB .standardtemplates_StandardNotificationSubText_2XcN2,
.quickaccessmenu_QuickAccessMenu_V0cr- .standardtemplates_PinnedTemplate_2eBei .standardtemplates_StandardNotificationSubText_2XcN2 {
  color: var(--srcery-bright-black);
}
