.BasicUI .basicappdetailssectionstyler_AppDetailsRoot_3fp5y {
  background: transparent;
}

/* .BasicUI .sharedappdetailsheader_TopCapsule_2meE3 { */
/*   --srcery-header-height: 49vw; */
/* } */
/**/
/* .sharedappdetailsheader_TopCapsule_2meE3 { */
/*     height: var(--srcery-header-height); */
/* } */

/* Turn the header art to grayscale */
.gamepadhomerecentgames_RecentGamesBackground_1SRox {
  filter: grayscale(1);
}
/* Remove hovered game glow */
.gpfocuswithin ~ .basicgamecarousel_CarouselCapsuleBackgroundGlow_1H3Kf,
:hover ~ .basicgamecarousel_CarouselCapsuleBackgroundGlow_1H3Kf {
  opacity: 0;
}
/* Turn backgrounds black */
.gamepadui_BasicHome_3LYP1.gamepadui_OpaqueBackground_b084m {
  background: var(--srcery-black);
}
.gamepadhome_TabbedContent_cE1Sa {
  background: var(--srcery-black) !important;
}
.gamepadhomerecentgames_RecentGamesBackgroundFadeGradient_1ksIq {
  background:
    -webkit-gradient(
      linear,
      left 80%,
      left 90%,
      from(rgba(0, 0, 0, 0)),
      to(var(--srcery-black))
    ),
    -webkit-gradient(
      linear,
      0% 0%, 100% 0%,
      color-stop(1%, var(--srcery-black)),
      color-stop(5%, rgba(0, 0, 0, 0)),
      color-stop(95%, rgba(0, 0, 0, 0)),
      color-stop(99%, var(--srcery-black))
    );
}

/** What's New */

.gamepadhomewhatsnew_EventInfo_6TGe7 { /* What's new event background */
  background: var(--srcery-xgray3);
}

.gamepadhomewhatsnew_EventInfo_6TGe7:focus { /* What's new event background */
  background: var(--srcery-xgray6);
}

/* Recently Updated */
.recentlycompleted_BottomSection_3LyF6,
.recentlycompleted_RecentlyCompletedItem_3OC7i {
  background: var(--srcery-xgray3);
}

.recentlycompleted_BottomSection_3LyF6:focus,
.recentlycompleted_RecentlyCompletedItem_3OC7i:focus {
  background: var(--srcery-xgray6);
}

/* Trending Among Friends */
.gamecapsule_GameCapsule_fXdhj .gamecapsule_BottomBar_3-GyQ {
  background: var(--srcery-xgray3);
}

.gamecapsule_GameCapsule_fXdhj .gamecapsule_BottomBar_3-GyQ .salepreviewwidgets_StoreSalePriceBox_Wh0L8 {
  color: var(--srcery-white);
}

.gamecapsule_GameCapsule_fXdhj:focus .gamecapsule_BottomBar_3-GyQ {
  background: var(--srcery-xgray6);
}

/** Friends list (Favorites and In Game) */
.gamepadhomefriends_FavoriteFriend_3SLpz,
.gamepadhomefriends_GoToFriends_MVc_6,
.gamepadhomefriends_InGameGame_KLo2n {
  background: var(--srcery-xgray3);
}

.gamepadhomefriends_FavoriteFriend_3SLpz:focus,
.gamepadhomefriends_GoToFriends_MVc_6:focus,
.gamepadhomefriends_InGameGame_KLo2n:focus {
  background: var(--srcery-xgray6);
}

/** Recommended */

/** Activity */
.BasicUI .appactivityday_Event_UVeN0 .appactivityday_EventHeadline_QCKBq {
  background: var(--srcery-xgray4);
}

.BasicUI .posttextentry_PostTextEntry_3x31A .posttextentry_PostTextEntryArea_1JlC2,
.BasicUI .posttextentry_PostTextEntry_3x31A .posttextentry_PostTextEntryArea_1JlC2::placeholder {
  color: var(--srcery-white);
  background: var(--srcery-xgray3);
}

.BasicUI .posttextentry_PostTextEntry_3x31A .posttextentry_PostTextEntryArea_1JlC2:focus {
  color: var(--srcery-black);
  background: var(--srcery-bright-white);
}

.BasicUI .appactivityday_Event_UVeN0,
.BasicUI .appactivityday_Event_UVeN0 .appactivityday_EventBody_NEMXh {
  background: var(--srcery-xgray6);
}

.comment_thread_RatingBar_1yWgP .comment_thread_LikeCount_3grvn,
.comment_thread_RatingBar_1yWgP .comment_thread_CommentCount_2RkIc,
.comment_thread_RatingBar_1yWgP .comment_thread_ReactionCount_1S3Q9 {
  background: var(--srcery-xgray1);
}

/** Your Stuff */
.BasicUI .appdetailssection_AppDetailsSectionContainer_31ptF.appdetailssection_RightColumnSection_3KfxI {
  background: var(--srcery-xgray6);
}

.BasicUI .appdetailssection_Highlight_38t1m { /* You've unlocked 1/9 (11%)  */
  background: var(--srcery-xgray3);
}

.BasicUI button.DialogButton.appdetailsbutton_AppDetailsButton_3Cdin.appdetailsbutton_BottomRight_3nJyY:not(.gpfocus) {
  color: var(--srcery-white);
  background: var(--srcery-xgray3);
}

.BasicUI button.DialogButton.appdetailsbutton_AppDetailsButton_3Cdin.appdetailsbutton_BottomRight_3nJyY.gpfocus.gpfocuswithin {
  color: var(--srcery-black);
  background: var(--srcery-bright-white);
}

/** Community */
.BasicUI .appdetailscommunityfeed_CommunityItem_3QS6O {
  background: var(--srcery-xgray3);
}

/** Game Info */
.BasicUI .appdetailsgameinfopanel_Container_2jPMy .appdetailsgameinfopanel_SectionContainer_1uS70 .appdetailsgameinfopanel_GameDescription_3GkV1,
.appdetailsgameinfopanel_AssociationList_2ZcNQ .appdetailsgameinfopanel_Association_-9icu .appdetailsgameinfopanel_Name_2j8Xh,
.appdetailsgameinfopanel_Container_2jPMy .appdetailsgameinfopanel_Stats_3cntz .appdetailsgameinfopanel_Release_1OWQ9 .appdetailsgameinfopanel_Date_izVv8 {
  color: var(--srcery-bright-white);
}

.appdetailsgameinfopanel_AssociationList_2ZcNQ .appdetailsgameinfopanel_Label_1vYL2,
.appdetailsgameinfopanel_Release_1OWQ9 .appdetailsgameinfopanel_Label_1vYL2 {
  color: var(--srcery-white);
}

.appdetailsfeatureicon_Container_1SIa8 .appdetailsfeatureicon_Icon_2RwHE {
  filter: var(--srcery-bright-white-filter);
  opacity: 1;
}

.appdetailsfeatureicon_Container_1SIa8 .appdetailsfeatureicon_Label_1VoVz {
  color: var(--srcery-white);
}

.appdetailsgameinfopanel_DeckVerifiedInfo_IIJei {
  color: var(--srcery-bright-white);
  background: var(--srcery-xgray6);
}

.appdetailsgameinfopanel_DeckVerifiedInfo_IIJei .appdetailsgameinfopanel_Details_3sfpA {
  color: var(--srcery-white);
  background: var(--srcery-xgray3);
}

.appdetailsgameinfopanel_DeckVerifiedInfo_IIJei .appdetailsgameinfopanel_Details_3sfpA:focus {
  color: var(--srcery-black);
  background: var(--srcery-bright-white);
}

.BasicUI .appdetailsprimarylinkssection_Anchor_DY4_w {
  background: var(--srcery-xgray3);
}

.BasicUI .appdetailsprimarylinkssection_Anchor_DY4_w.gpfocus.gpfocuswithin {
  background: var(--srcery-bright-white);
}

.BasicUI .appdetailsprimarylinkssection_Anchor_DY4_w .appdetailsprimarylinkssection_Link_1b6LY .appdetailsprimarylinkssection_Text_2sNDj {
  color: var(--srcery-white);
}

.BasicUI .appdetailsprimarylinkssection_Anchor_DY4_w.gpfocus.gpfocuswithin .appdetailsprimarylinkssection_Link_1b6LY .appdetailsprimarylinkssection_Text_2sNDj {
  color: var(--srcery-black);
}
