/* Center column background */
.mainmenuapprunning_ScrollMask_322FV {
  background: var(--srcery-xgray1);
}

.mainmenuapprunning_NavigationColumn_27FEg {
  background: var(--srcery-hard-black);
}

@media screen and (max-width: 1280px) {
  .mainmenuapprunning_NavigationColumn_27FEg:before {
    background: none;
  }
}

.mainmenuapprunning_AppColumn_3FAI9.mainmenuapprunning_FocusedColumn_lz9Db {
  background: var(--srcery-black);
}
