#header::before {
  background: var(--srcery-black);
}

#header
  .header_HeaderDownloadContainer_2ssr3
  .header_HeaderAppPortraitContainer_1PbL3
  .header_HeaderDownloadProgressBarBackground_vo3Tt
  .header_HeaderDownloadProgressBar_AK_Ax {
  background: var(--srcery-blue);
}

#header .header_HeaderItem_2HnVd,
.searchbar_SearchContainer_161Tj .searchbar_SearchIconRight_1Ka4T,
.searchbar_SearchContainer_161Tj .searchbar_SearchIconLeft_2Ya83 {
  color: var(--srcery-white);
}

#header .header_HeaderItem_2HnVd.gpfocus, #header .header_HeaderItem_2HnVd.gpfocuswithin {
  color: var(--srcery-black);
  background: var(--srcery-bright-white);
}

#header .header_HeaderItem_2HnVd.header_UpdatesIcon_33cHT svg path:not(:first-child) {
  fill: var(--srcery-yellow);
}

#header .header_HeaderItem_2HnVd.header_UpdatesIcon_33cHT.gpfocus.gpfocuswithin svg path:not(:first-child) {
  fill: var(--srcery-orange);
}

#header .header_HeaderItem_2HnVd.header_BatteryIcon_1_6kL svg path:last-child {
  fill: var(--srcery-black);
}

#Footer {
  background: var(--srcery-black);
}

#Footer .footericons_Light_2e0Fq .footericons_Background_I3P4e {
  color: var(--srcery-bright-white);
}

#Footer .footer_Item_wesFG .actionbuttonlegenditem_ActionButtonGlyph_3Jfd8 img {
  filter: var(--srcery-bright-white-filter);
}

.backgroundglass_BackgroundGlass_3rsrz.backgroundglass_Blur_N9sQL {
  backdrop-filter: sepia(100%) blur(4px);
}

/* Glyphs like L1/R1. Try to color all of them in one shot. */
.gamepadtabbedpage_Glyphs_N-f57 {
    filter: var(--srcery-bright-white-filter);
}

.shared_svg_library_SteamDeckCompatVerified_3mvZq {
  color: var(--srcery-green);
}

.shared_svg_library_SteamDeckCompatPlayable_S7BDm {
  color: var(--srcery-yellow);
}

.shared_svg_library_SteamDeckCompatUnsupported_1SeOP,.shared_svg_library_SteamDeckCompatUnknown_15dEs {
    color: var(--srcery-bright-black)
}
