:root {
  /* Override Color Master's variables */
  --color-master-background-dark:    #121212 !important;
  --color-master-background:         #1C1B19 !important;
  --color-master-background-bright:  #918175 !important;
  --color-master-foreground:         #BAA67F !important;
  --color-master-foreground-bright:  #FCE8C3 !important;
  --color-master-midtone1:           #262626 !important;
  --color-master-midtone2:           #444444 !important;
  --color-master-midtone3:           #4E4E4E !important;
  --color-master-midtone4:           #767676 !important;
  --color-master-midtone5:           #949494 !important;
  --color-master-highlight:          #2C78BF !important;
  --color-master-highlight2:         #98BC37 !important;
  --color-master-warning:            #F75341 !important;

  --color-master-font-foreground:         #BAA67F !important;
  --color-master-font-foreground-bright:  #FCE8C3 !important;
  --color-master-font-background:         #1C1B19 !important;
  --color-master-font-background-bright:  #918175 !important;
  --color-master-font-midtone1:           #262626 !important;
  --color-master-font-midtone4:           #767676 !important;
  --color-master-font-midtone5:           #949494 !important;

  /** These variables are used in some of the gradients */
  --color-master-background_rgb:          28, 27, 25 !important;
  --color-master-background2_rgb:         207, 201, 193 !important;
  --color-master-background3_rgb:         66, 57, 43 !important;
  --color-master-background4_rgb:         47, 42, 36 !important;
  --color-master-background5_rgb:         80, 71, 62 !important;
  --color-master-background6_rgb:         127, 117, 107 !important;

  --color-master-background-orange:       #776255 !important;
  --color-master-background-orange2:      #5d514c !important;
  --color-master-background-orange3:      #39322d !important;
  --color-master-background-orange4:      #2e2925 !important;

  --color-master-background-orange_rgb:   121, 99, 85 !important;
  --color-master-background-orange2_rgb:  92, 80, 75 !important;
  --color-master-background-orange3_rgb:  58, 51, 46 !important;

  --color-master-foreground_rgb:          186, 166, 127 !important;
  --color-master-foreground-bright_rgb:   252, 232, 195 !important;
  --color-master-foreground-bright2_rgb:  221, 199, 157 !important;

  --color-master-gp-grad-stop1_rgb: 105, 92, 83 !important;
  --color-master-gp-grad-stop2_rgb: 184, 154, 125 !important;
  --color-master-gp-grad-stop3_rgb: 204, 178, 153 !important;
}
